.head-nav {
    border: 1px solid red;
}

.main-nav {
    background-color: slategray;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.nav-menu1 {
    max-width: 1280px;
    max-height: 100px;
    border: 1px solid black;
    margin: 0 auto;
    padding: 0 1%;
    display: flex;
    justify-content:space-between;
    align-items: center;
    gap: 20px;
}

body {
    margin: 0;
}
/*membuat search bar desktop*/
.search-container {
    border: 1px solid slategray;
    width: 500px;
    height: 38px;
    border-radius: 21px;
    background-color: rgb(223, 223, 223);
    display: flex;
    justify-content: center;
    align-items: center;
}
form {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    
}
input[type=text] {
    padding:6px;
    margin:3px;
    font-size: 17px;
    border: none;
    border-radius: 17px;
    width: 100%;
}
button[type=submit] {
    padding-top: 3px;
    padding-bottom: 3px;
    margin: 1px;
    font-size: 17px;
    border-radius: 17px;
}
/*----------*/
/*--membuat menu atas--*/
.nav-add {
    display: flex;
    justify-content: space-between;
    width: 575px;
    gap: 10px;
}
.loc:hover {
    overflow: hidden;
    background-color: rgb(192, 27, 27);
    padding: 7px;
    border: 10px;
    border-radius: 17px;
}
.loc {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 125px;
    gap: 8px;
}
.cs:hover {
    overflow: hidden;
    background-color: rgb(192, 27, 27);
    padding: 7px;
    border: 10px;
    border-radius: 17px;
}
.cs {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 120px;
    gap: 8px;
}
.app:hover {
    overflow: hidden;
    background-color: rgb(192, 27, 27);
    padding: 7px;
    border: 10px;
    border-radius: 17px;
}
.app {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 130px;
    gap: 8px;
}
.brochure:hover {
    overflow: hidden;
    background-color: rgb(192, 27, 27);
    padding: 7px;
    border: 10px;
    border-radius: 17px;
}
.brochure {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 130px;
    gap: 8px;
}

a img {
    width: 20px;
}
a {
    text-decoration: none;
    color: black;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}
a:hover {
    color: white;
}
/*--------*/
.nav-branding img {
    width: 100px;
}

.hamburger {
    display: none;
    cursor: pointer;
}

.bar {
    display: block;
    width: 25px;
    height: 4px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: black;
}
/*--hidden mobile--*/
.nav-menu {
    display: none;
}

/*tampilan mobile dan tablet*/
@media screen and (max-width:912px) {
    /* menu desktop : none */
    .head-nav {
        display: none;
    }
    .main-nav {
        display: none;
    }
    .nav-menu1 {
        display: none;
    }
    /*---------------------*/
    /*header*/
    .head-nav-mobile {
        border: 1px solid red;
        border: 0;
        top: 0;
        left: 0;
        right: 0;
    }
    
    .main-nav-mobile {
        background-color: slategray;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        border: 0;
        top: 0;
        left: 0;
        right: 0;
    }
    
    .nav-menu-mobile {
        max-width: 912px;
        max-height: 80px;
        border: 1px solid black;
        top: 0;
        left: 0;
        right: 0;
        margin: 0 auto;
        padding: 0 20px;
        border: 0;
        display: flex;
        justify-content:space-between;
        align-items: center;
        gap: 20px;
    }
    /*------*/

    /* logo branding */
    .nav-branding img {
        width: 80px;
    }
    /*---------------*/

    /*menu hamburger*/
    .hamburger{
        display: block;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(9px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-9px) rotate(-45deg);
    }
    /*--------------*/
    .content {
        padding: 16px;
    }
    .sticky {
        position: fixed;
        left: 0;
        right: 0;
        top: 0;
    }
    .sticky + .content {
        padding-top: 60px;
    }

    /* menu bar mobile*/
    .nav-menu {
        position: fixed;
        right: -150%;
        top: 90px;
        gap: 0;
        flex-direction: row;
        background-color: rgb(183, 207, 207);
        width: 100%;
        text-align: center;
        transition: 0.3s;
        border-radius: 5px;
        padding: 0;
        display: block;
        justify-content: center;
    }
    .nav-menu.active {
        left: 0;
    }
    
/* MENU MOBILE */
.nav-menu a{
    display: flex;
    text-align: center;
    font-size: 8px;
    gap: 10px;
}
.nav-menu a:hover {
    position: hidden;
    background-color: rgb(192, 27, 27);
}

.nav-menu a img:hover {
    position: hidden;
    display: inline-block;
    background-color: white;
    /*cara merubah warna img ketika hover aktif. rencananya hover pakai warna merah dan img pakai warna putih*/
}